.app-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/reviews-bg.png');
  min-height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.review-carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
}

.review-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.arrow-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}

.heading {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 24px;
  font-weight: 500;
}

.profile-name {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: 600;
}

.company-name {
  color: #171f46;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 400;
}

.description {
  color: #171f46;
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 400;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .review-carousel {
    width: 60%;
  }
  .heading {
    font-size: 48px;
  }
  .profile-name {
    font-size: 22px;
  }
  .company-name {
    font-size: 20px;
  }
  .description {
    font-size: 18px;
  }
}
